<h1><span>Favorite Styles</span></h1>
<ul class="gallery">
    <% favoriteStyles.forEach((style) => { %>
        <li>
            <a href="/styles/<%= style.titleSlug %>">
                <img src="/<%= style.imageURL %>" alt="<%= style.description %>">
            </a>
        </li>
    <% }) %>
</ul>
